<%layout("/layouts/boilerplate")%>
<div class="containerOfCard">
  <div class="Card">
    <h5 class="card-title">Connect To Us</h5>
    <br /><br />
    <h6 class="card-subtitle mb-2 text-body-secondary">
      <i>We Listen To Our Students :)</i>
    </h6>
    <br />
    <p class="Card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="card-link">Contact link 1</a>
    <a href="#" class="card-link">Contact link 2</a>
  </div>
</div>
