<%layout("/layouts/boilerplate")%>

<body>
  <!-- carousel -->
  <div class="carousel-slides">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQA8wMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAWEAEBAQAAAAAAAAAAAAAAAAAAARH/xAAVAQEBAAAAAAAAAAAAAAAAAAAAAf/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AMQFQAAAAAAAABUIgoApAFBFERFQBRIooAAAoAIgAoCiCIqKAABgoIKCoKAioAoioAICgAIoIioKqiCCiAiiKoAIoqAACogoghAUVKCKRUAKAAACiKAAAAAioIAAAAKigCKAAAAKAAgqKgAKAIAKCAAAAogCgAAAgqYoCiIAAigoAIoAAAAlUUQBAAAAAAAAEAAFQFVFAAAAQFAAAAAAAEABQAAEUAEAAAAAAQAAAAVIooAAAAigAAAoCAKgAKAIAACKlAAEAAAAAFABAAAipFFAAAAAAAAAFAVAAWIIFFABBKFAAFQAAAQAAAACAKoICgAAAAAKgoqKiAAAAACUABUAAAAAEAAUAUAEQioooAACggAKgKKgIAAAACUAAFQAAAAAAARSFUUQBEFAUAAUAAAf/9k="
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAKgAswMBIgACEQEDEQH/xAAVAAEBAAAAAAAAAAAAAAAAAAAABv/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAWAQEBAQAAAAAAAAAAAAAAAAAABwb/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwCtAaJGQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH/2Q=="
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAACVBMVEXUrzfWrjjTsDc5eRlcAAAASUlEQVR4nO3BAQEAAAiAIOv/6IYENG0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAawcWRgAE9y5z2wAAAABJRU5ErkJggg=="
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- carousel ends -->

  <div style="height: 100vh">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab expedita aut molestias recusandae ea ullam est a reiciendis quibusdam, obcaecati ratione, molestiae neque quia sint. Labore iusto enim doloribus velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, tempore ab nemo amet omnis hic vel rerum voluptatem nam. Hic enim asperiores tempore quae ducimus odio accusantium, explicabo dolorum sed.lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio sequi rerum accusamus! Error beatae vitae, at dolor quam placeat, repellendus nemo iure, voluptatum dignissimos commodi voluptate tenetur reiciendis? Suscipit, commodi?
  </div>
</body>
