<%layout("/layouts/boilerplate")%>
<div class="containerOfCard">
  <div class="Card-login Card">
    <h5 class="card-title">Login To Learn !</h5>
    <br /><br />

    <form action="/login" method="post">
      <h4 class="card-subtitle mb-2 text-body-primary">
        <i>Enter Username </i>
      </h4>
      <br />

      <input
        class="form-control text-body-primary"
        type="text"
        name="username"
        placeholder="Username"
        style="
          width: 30rem;
          text-align: center;
          background-color: rgb(255, 105, 180, 0.1);
        "
      />
      <br /><br />
      <h4 class="card-subtitle mb-2 text-body-primary">
        <i>Enter Password </i>
      </h4>
      <br />

      <input
        class="form-control text-body-primary"
        type="password"
        name="password"
        placeholder="Password"
        style="
          width: 30rem;
          text-align: center;
          background-color: rgb(255, 105, 180, 0.1);
        "
      />
      <br /><br />
      <h4 class="card-subtitle mb-2 text-body-primary">Or Login Using :</h4>
      <br /><br /><br />

      <button type="submit" class="btn btn-primary btn-lg">
        &nbsp;&nbsp;&nbsp;&nbsp;LOGIN&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
    </form>
  </div>
</div>
